.*
!.gitignore

logs
project/project
project/target
project/metals.sbt
target
lib_managed
tmp
dist
/.idea
/*.iml
/*.ipr
/out
/RUNNING_PID
*.iws
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.bloop/
.metals/
.vscode/
.bsp/
project/.bloop/
project/metals.sbt
    